body {
    text-align: center;

}

img {
    width: 100px;
    height:100px;
}

.header {


}

.title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 32px;
}
.container {
    display: flex;
    justify-content:center;
    gap: 52px;
}

.info {
    max-width: 200px;
}